/*index*/

nav ul li {
    display: block;
    margin-top: 40px;
    margin-right: 50px;
    margin-left: 85px;
    
}

/*.titulo{
 font-size: 300%;
 color: #FFD700;
 text-align: center;
 margin: 100px;
 font-family:'comforter';
 
}

.logo{
  font-size: 10px;
}*/
.redsocial{
  border: 1px black solid;
  background-color:rgb(207, 204, 204);
  

}
.redsocial--nueva{
  @extend.redsocial;
  justify-content: end;
  font-size: 1px;
}
@mixin sizes($width,$height){
  height: $height;
  width: $width;
}



