@charset "UTF-8";
/* generales sass*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*cuerpo*/
body {
  background-color: #212529;
}

/*menú*/
a {
  text-decoration: none;
  color: #faf5f5;
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-left: 40px;
}

/*index*/
nav ul li {
  display: block;
  margin-top: 40px;
  margin-right: 50px;
  margin-left: 85px;
}

/*.titulo{
 font-size: 300%;
 color: #FFD700;
 text-align: center;
 margin: 100px;
 font-family:'comforter';
 
}

.logo{
  font-size: 10px;
}*/
.redsocial, .redsocial--nueva {
  border: 1px black solid;
  background-color: #cfcccc;
}

.redsocial--nueva {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-size: 1px;
}

/*servicios*/
.peliculas {
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "peli1 peli2" "peli3 peli4";
}

.peli1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: peli1;
}

.peli2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: peli2;
}

.peli3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: peli3;
}

.peli4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: peli4;
}

/*media queries (sólo para responsi)*/
@media only screen and (max-width: 700px) {
  .peliculas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr;
        grid-template-columns: 2fr;
    -ms-grid-rows: 6fr;
        grid-template-rows: 6fr;
        grid-template-areas: "peli1" "peli2" "peli3" "peli4";
  }
}

.form-label {
  color: aliceblue;
}

.parrafo {
  color: #faf5f5;
  margin: 80px;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "estudio1 estudio2" "estudio3 estudio4" "estudio5 estudio6";
}

.estudio1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: estudio1;
}

.estudio2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: estudio2;
}

.estudio3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: estudio3;
}

.estudio4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: estudio4;
}

.estudio5 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: estudio5;
}

.estudio6 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: estudio6;
}

/*@media only screen and (max-width: 700px){
    
    .grid-container{
      display: grid;
      grid-template-columns: 2fr;
      grid-template-rows: 6fr;
      grid-template-areas:
      "estudio1"
      "estudio2"
      "estudio3"
      "estudio4"
      "estudio5"
      "estudio6"
      ;
    }
  }*/
/*# sourceMappingURL=estilos.css.map */